@page "/"
@inject LocalizationService LocalizationService

<PageTitle>@LocalizationService.GetString("Home.PageTitle")</PageTitle>

<br>
<h1>@LocalizationService.GetString("Home.WelcomeMessage")</h1>
<h3>@LocalizationService.GetString("Home.WelcomeAuthor")</h3>
<h5>@((MarkupString)LocalizationService.GetString("Home.WelcomeContact"))</h5>
<br>

<p>@LocalizationService.GetString("Home.Description")</p>
<p>@LocalizationService.GetString("Home.WorkInProgress")</p>
<br>
<p>@LocalizationService.GetString("Home.Features")</p>
<ul>
    @for (int i = 0; i < 8; i++)
    {
        <li>@LocalizationService.GetString($"Home.FeatureList.{i}")</li>
    }
</ul>

@code {
    protected override async Task OnInitializedAsync()
    {
        await LocalizationService.LoadLocalizationStringsAsync();
        LocalizationService.OnLanguageChanged += HandleLanguageChanged;
    }

    private void HandleLanguageChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        LocalizationService.OnLanguageChanged -= HandleLanguageChanged;
    }
}